

/* darks css theme from: http://www.brainfold.net/2016/04/splunk-dashboards-looks-more-beautiful.html */

body,.dashboard-body,.footer,.header,.dashboard-cell {
    background: #1C1E23 !important;
}

.dashboard-panel {
    background: #292C33 !important;
}

svg text {
    fill: #fff !important;
}
.single-value .single-result {
    color: #fff;
}

.dashboard-header h2, p.description, .nav-footer>li>a {
    color: #ddd;
    text-shadow: none;
}

.dashboard-row .dashboard-panel h2.panel-title {
    color: #fff;
}

button, input, label, select, textarea {
    color: #808080 !important;
}
