.html h2 {
  color: #adbacd !important;
}

a.tryitbtn-blue,
a.tryitbtn-blue:link,
a.tryitbtn-blue:visited,
a.tryitbtn-blue,
a.tryitbtn-blue:link,
a.tryitbtn-blue:visited {
  display: inline-block;
  color: #71b1c1;
  background-color: #1f1f1f;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 4px;
  text-decoration: none;
  margin-left: 0;
  /* margin-left: 5px; */
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
  border: 1px solid #aaaaaa;
  border: 1px solid #71b1c1;
  border-radius: 5px;
  white-space: nowrap;
}

a.tryitbtn-blue:hover,
a.tryitbtn-blue:active,
a.tryitbtn-blue:hover,
a.tryitbtn-blue:active {
  background-color: #71b1c1;
  color: #1f1f1f;
}

/* main category icons and titles */

.imgheader img {
  float: left;
  width: 48px;
  height: 48px;
}

.imgheader h1 {
  color: #adbacd;
  text-align: left;
  position: relative;
  top: 9px;
  left: 10px;
}

.imgheader h2 {
  position: relative;
  top: 18px;
  left: 10px;
}

.imgminiheader img {
  position: relative;
  top: -4px;
}
