/* Custom title style of simple xml views */

h1 {
  /* color: lightslategrey; */
}

.safecenter h1 {
  font-size: 30px;
  font-weight: bold;
  /* color: #ffffff; */
  text-align: center;
  position: relative;
}

/*Back Ground color for Category Panel */

div#cpu {
  background-color: #444444;
}

div#mem {
  background-color: #444444;
}

div#swap {
  background-color: #444444;
}

div#filesystem {
  background-color: #444444;
}

/* Force margin for single block color */
.splunk-single {
  margin-left: 1px;
  margin-right: 1px;
}

/* Fix single label trouble with Splunk 6.3.0 */

.before-label {
  font-size: medium !important;
}

.after-label {
  font-size: medium !important;
}

.single-result-unit {
  font-size: medium !important;
}

/* Fix link input object align */
.input-linklist {
  display: inline !important;
}

/* Fix link input object align for Splunk 6.5 */
.input-link {
  display: inline !important;
}

/* Increase the default max-width for links */
.btn-pill {
  max-width: 600px !important;
}
