/* Custom title style of simple xml views */

/*
.dashboard-header h2 {
	font-size: 22px;
	font-weight: bold;
	color: #157EFB;
}*/

.dashboard-row .dashboard-panel h2.panel-title {
  font-size: 18px;
  font-weight: bold;
  color: #d3d3d3;
}

/* Now deactivated 

Insert NMON simple logo (48px) and set margin bottom

.dashboard-header h2 {
  background-image: url(/../../static/app/nmon/logos/NMON_simplelogo_48px.svg);
  background-repeat: no-repeat; 
  background-position: left;
  padding-top:	90px;
  margin-bottom:20px;  
  float: left;
}

*/

/* margin left required for Firefox */

.list li {
  /*margin-left: 4px; */
  margin-left: 10px;
  padding-left: 10px;
}

.list {
  display: inline-block;
  margin-right: 50px;
}

/* Various styles */

.html h1 {
  font-size: 20px;
  font-weight: bold;
  color: ##adbacd;
}

.html h2 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: normal;
  color: #adbacd;
  font-weight: bold;
}

.custom h1 {
  font-size: 18px;
  font-weight: bold;
  color: #3e83bd;
  text-align: center;
}

/* main category icons and titles */

.imgheader {
  margin-bottom: 40px;
}

.imgheader img {
  float: left;
  width: 48px;
  height: 48px;
}

.imgheader h4 {
  position: relative;
  top: 18px;
  left: 10px;
}

.imgheader2 img {
  float: left;
  width: 48px;
  height: 48px;
}

.imgheader2 h4 {
  position: relative;
  top: 10px;
  left: 10px;
}

/* custom link with icon */

.customlink img {
  float: left;
  width: 28px;
  height: 28px;
}

.customlink h3 {
  position: relative;
  top: 9px;
  left: 10px;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

/* Fix single label trouble with Splunk 6.3.0 */

.before-label {
  font-size: medium !important;
}

.after-label {
  font-size: medium !important;
}

.single-result-unit {
  font-size: medium !important;
}

/* Fix link input object align */
.input-linklist {
  display: inline !important;
}

/* Fix link input object align for Splunk 6.5 */
.input-link {
  display: inline !important;
}

/* Increase the default max-width for links */
.btn-pill {
  max-width: 600px !important;
}

/* Prevents modal window from generating troubles within Splunk interfaces */
.modal {
  display: none;
}
/* Custom Modals widths */

.modal[class^="custom-modal"] {
  left: 50%;
  border: 1px solid green;
}

.custom-modal-30 {
  width: 30%;
  margin-left: -15%;
}

.custom-modal-50 {
  width: 50%;
  margin-left: -25%;
}

.custom-modal-60 {
  width: 60%;
  margin-left: -30%;
}

.custom-modal-70 {
  width: 70%;
  margin-left: -35%;
}

.custom-modal-80 {
  width: 80%;
  margin-left: -40%;
}

.custom-modal-96 {
  width: 96%;
  margin-left: -48%;
}

/* Main button containers */
.mainbutton_container {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.mainbutton_container_nomargin {
  text-align: center;
}

.mainbutton {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

.mainbutton_highmargin {
  display: inline-block;
  margin-left: 90px;
  margin-right: 90px;
}

/* Home Button */

.round-button {
  width: 3%;
  height: 0;
  padding-bottom: 3%;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  overflow: hidden;
  background: #464646;
  box-shadow: 0 0 3px gray;
}
.round-button:hover {
  background: #262626;
}
.round-button img {
  display: block;
  width: 76%;
  padding: 12%;
  height: auto;
}

.cat_title {
  color: #5379af;
  margin-bottom: 10px;
}

.bootstrap_title {
  color: #5379af;
  margin-bottom: 5px;
  margin-top: 5px;
}

span:hover {
  position: relative;
  font-weight: bolder;
}

/* Home page button links, inspired from http://www.w3schools.com */

a.tryitbtn,
a.tryitbtn:link,
a.tryitbtn:visited,
a.showbtn,
a.showbtn:link,
a.showbtn:visited {
  display: inline-block;
  color: #469496;
  background-color: #1f1f1f;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 4px;
  text-decoration: none;
  margin-left: 0;
  /* margin-left: 5px; */
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
  border: 1px solid #aaaaaa;
  border: 1px solid #469496;
  border-radius: 5px;
  white-space: nowrap;
  min-width: 60px;
}

a.tryitbtn:hover,
a.tryitbtn:active,
a.tryitbtn:hover,
a.tryitbtn:active {
  background-color: #469496;
  color: #1f1f1f;
}

a.tryitbtnxl,
a.tryitbtnxl:link,
a.tryitbtnxl:visited,
a.showbtnxl,
a.showbtnxl:link,
a.showbtnxl:visited {
  display: inline-block;
  color: #469496;
  background-color: #1f1f1f;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 4px;
  text-decoration: none;
  margin-left: 0;
  /* margin-left: 5px; */
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #aaaaaa;
  border: 1px solid #469496;
  border-radius: 5px;
  white-space: nowrap;
  min-width: 150px;
}

a.tryitbtnxl:hover,
a.tryitbtnxl:active,
a.tryitbtnxl:hover,
a.tryitbtnxl:active {
  background-color: #469496;
  color: #1f1f1f;
}

a.tryitbtnxxl,
a.tryitbtnxxl:link,
a.tryitbtnxxl:visited,
a.showbtnxxl,
a.showbtnxxl:link,
a.showbtnxxl:visited {
  display: inline-block;
  color: #469496;
  background-color: #1f1f1f;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 4px;
  text-decoration: none;
  margin-left: 0;
  /* margin-left: 5px; */
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #aaaaaa;
  border: 1px solid #469496;
  border-radius: 5px;
  white-space: nowrap;
  min-width: 220px;
}

a.tryitbtnxxl:hover,
a.tryitbtnxxl:active,
a.tryitbtnxxl:hover,
a.tryitbtnxxl:active {
  background-color: #469496;
  color: #1f1f1f;
}

a.tryitbtn-alt,
a.tryitbtn-alt:link,
a.tryitbtn-alt:visited,
a.tryitbtn-alt,
a.tryitbtn-alt:link,
a.tryitbtn-alt:visited {
  display: inline-block;
  color: #c171b1;
  background-color: #1f1f1f;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 4px;
  text-decoration: none;
  margin-left: 0;
  /* margin-left: 5px; */
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
  border: 1px solid #aaaaaa;
  border: 1px solid #c171b1;
  border-radius: 5px;
  white-space: nowrap;
  min-width: 60px;
}

a.tryitbtn-alt:hover,
a.tryitbtn-alt:active,
a.tryitbtn-alt:hover,
a.tryitbtn-alt:active {
  background-color: #c171b1;
  color: #1f1f1f;
}

a.rt {
  margin-left: 10px;
}

a.rt {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

a.rt:hover img {
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -moz-transform: scale(1.1); /* Firefox */
  -ms-transform: scale(1.1); /* IE 9 */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);
}

/*
        ---------------------
        Multi depends buttons
        ---------------------
*/

/* Button style */
.custom-sub-nav button {
  display: inline-block;
  margin: 0 1em;
}

/* Style when button is active */
.custom-sub-nav button.active {
  background: #bbdaf6;
}

/*
        ---------------------
        Filled colored panel
        ---------------------
*/

.dashseparator {
  text-align: center;
  border: 3px dashed #ccc;
}

.dashseparator h1 {
  font-size: 18px;
  font-weight: bold;
  color: #999999;
  text-align: center;
  font-style: italic;
}

/*
        ---------------------
        Help the user panels
        ---------------------
*/

.red_help_user {
  color: indianred;
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.blue_help_user {
  color: blue;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* Panels title bar customization */

.dashboard-row .dashboard-panel h2.panel-title {
  /* text-align: center; */
  font-size: 20px;
  font-weight: 500;
  background-color: #444444;
  padding: 5px 5px 5px 5px;
}

/*
        ---------------------
        form specific width
        ---------------------
*/

#metric_name .select2-container {
  min-width: 360px;
}

#metric_name2 .select2-container {
  min-width: 360px;
}
