/*
 * Copyright (c) 2017, Ryan Thibodeaux. All Rights Reserved
 * see included LICENSE file (BSD 3-clause)
 */

/* top-level entity */
.modal-text-msg {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 450px;
  margin-left: -225px;
  z-index: 200000;
}

.modal-text-msg-unactivated {
  display: none !important;
}
.modal-text-msg-activated {}

.modal-text-msg > .modal-body {
  padding: 15px 20px 10px 20px;
  max-height: 800px;
}

/* background */
.modal-text-msg-backdrop {
  opacity: 0.5;
  background-color: black;
  z-index: 100000;
  cursor: pointer;
}

.modal-text-msg-backdrop-clear {
  opacity: 0.0 !important;
}

/* header items */
.modal-text-msg > .modal-header {
  padding: 7px 0px 7px 20px
}

.modal-text-msg > .modal-header {
  background: #90b5ea;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  border-radius: 5px 5px 0 0;
}
.modal-text-msg > .info {
  background: #90b5ea;
}
.modal-text-msg > .debug {
  background: #f5f5f5;
}
.modal-text-msg > .warn {
  background: #dd9754;
}
.modal-text-msg > .error {
  background: indianred;
}
.modal-text-msg > .modal-header > .modal-title {
  line-height: 22px;
  overflow-wrap: break-word;
  padding-right: 30px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

/* Text content elements */
.modal-text-msg p {
  font-size:14px;
  line-height: 20px;
}

/* footer items */
.modal-text-msg > .modal-footer {
  padding: 5px 10px 5px 10px;
  background-color: #f5f5f5;
  border-radius: 0 0 5px 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

.modal-text-msg-close:before {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

.modal-text-msg-close:hover:before {
  color: #000000;
}
